body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}
li{
  list-style: none;
}

header{
  background-color: rgba(34, 49, 52, 0.9);
  margin-bottom: 0px;
  height: 90px;
}
.title{
  color:white;
  float:left;
  margin-left: 50px;
  margin-top:10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  font-size: 70px;
}
.SNS{
  float: right;
  display: inline-block;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn{
  padding: 5px 15px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 8px;
  width:30px;
  font-size:30px;
}
.btn:hover{
  opacity: 1;
}
.facebook{
  background-color: #3b5998;
}
.instagram{
   background-color:#E4405F;
}
.blog{
  background-color: #239b76;
}

.content{
  background-color:
  float:left;
}

.texts{
  margin:0px 30px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  color:black;
}

.contact{
  font-size:60px;
}

.texts:hover{
  color: rgba(125, 178, 69, 1)
}

.contents{
  float: left;
}